:root {
    /* colors */
    --orange: #E2863A;
    --yellow: #FAEEA0;
    --red: #87292B;
    --lightblue: #7683A2;
    --darkblue: #262D40;

    /* fonts */
    --bodytext: "Segoe UI";
    --heading: 'BC Alphapipe';
}

body {
    background-image: url(../images/an.background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    background-color: #87292B;
}

h3{
    color: grey;
  }

.an {
    box-sizing: content-box;
    width: auto;
    padding: 2%;
    background-color: white;
    margin-bottom: 4%;
    margin-right: 3%;
}

article {
    overflow: auto;
    height: 79vh;;
}

p {
    font-size: 40px;
    color: black;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

em {
    font-weight: normal;
    font-style: italic;
    font-size: smaller;
}

main {
    overflow: auto;
}

.AnHeading {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.date {
    font-size: 30px;
    color: #A8A8A8;
    margin: 0;
    font-weight: normal;
}

.lang {
    display: block;
}

/*Read more/less */
#more {
    display: none;
}

#more2 {
    display: none;
}

#myBtn {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 40px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #A8A8A8;
}

#myBtn2 {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 40px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #A8A8A8;
}

/* responsive */

@media only screen and (max-width: 800px) {
    body{
    background-image: url(../images/mobile/an.mob.background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    }

    .an1{
        padding: 10px;
    }

    .date {
        font-size: 12px;
    }

    #myBtn {
        font-size: 20px;
        float: right;
    }

    #myBtn2 {
        font-size: 20px;
        float: right;
    }
  }